.jumbotron{
    background-color:red;
    }
    .text-center{
        color: white;
     } 
    .card-header{
        background-color: #007bff;
        width:348px;
    }
    .card-title{
        color:aliceblue;
    } 
    .card {
        flex-basis: calc(33.33% - 20px); /* sets the width of each card to one-third of the available space minus the space between the cards */
        margin-right: -20px; /* adds a 20px margin to the right of each card */
      margin-top: 20px;
     min-width:330px;
    }
      
      .card:last-child {
        margin-right: 0; /* removes the margin from the last card in the row */
      }
